<h1>Customer Application</h1>

<table>
        <tbody>
         <tr>
           <td><p>Enter UnserName:</p></td>
           <td><input type="text" [(ngModel)]="customer.name"></td>
         </tr>
         <tr>
          <td><p>Enter Email:</p></td>
          <td><input type="text" [(ngModel)]="customer.email"></td>
        </tr>
        <tr>
          <td><p>Enter City:</p></td>
          <td><input type="text" [(ngModel)]="customer.city"></td>
        </tr>
        <tr>
         
          <td><input type="submit" value="add" (click)="saveCustomer()"></td>
        </tr>
      </tbody>
</table>
<hr/>
<table border="1">
         <thead>
           <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Email</th>
             <th>City</th>
           </tr>
         </thead>
         <tbody>
                 <tr *ngFor="let customer of customers; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{customer.name}}</td>
                      <td>{{customer.email}}</td>
                      <td>{{customer.city}}</td>
                      <td (click)="delete()">delete</td>
                 </tr>
         </tbody>

</table>